<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDe0XmrFX422Aw9i0dY-jvctnG6YX7N6LM</string>
	<key>GCM_SENDER_ID</key>
	<string>979013132699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.canadasun.lashlyai</string>
	<key>PROJECT_ID</key>
	<string>lashlyai</string>
	<key>STORAGE_BUCKET</key>
	<string>lashlyai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979013132699:ios:0df911ef66869747b9413e</string>
</dict>
</plist>